.loginPage {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
@media screen and (min-width: 768) {
  .loginPage {
    width: 800px;
  }
}
.loginOption {
  width: 400px;
  height: auto;
  box-shadow: 0 0 5px #aa9d9d;
}
.optionHeader {
  padding: 15px;
  background: coral;
  color: white;
}
.optionBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
input {
  border: 0px;
  border-bottom: 1px solid;
  width: 300px;
  margin-bottom: 20px;
}
